h1 {
  text-align: center;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

@media all and (min-width:800px) {
  form {
    max-width: 800px;
    margin: 0 auto;
  }
}